*{
    padding: 0;
    margin: 0;
}
.portfolio-sections{
    height: 400px;
    width: 100%;
    border: 2px solid black;
   
    background-color: white;
}
.navigation-bar{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
    
}
.portfolio-sections h1{
    margin-top: 50px;
}
html{
    scroll-behavior: smooth;
}
.main-container{
    position: relative;
    top:50px;
}
.brand{
    font-size: 30px;
    font-family: Times New Roman;
    font-variant: small-caps;
    color: darkred;
}
.navmenu{
    color: black;
    font-size: 20px;
    font-family: Rockwell;
    font-weight: bolder;
    padding-left: 15px;
}
.navmenu:hover{
    text-decoration: underline 2px solid black;
    text-underline-offset: 6px;
    
}
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
#home{
   height: 450px;
   background-image: url("https://media.tenor.com/D609Ay5PK5QAAAAj/skill-issue-coding.gif");
   background-repeat: no-repeat;
   background-size:27%;
   background-position:90% 40%;
   border: none;
}

#home-info{
    position: absolute;
    top: 20px;
    width: 400px;
    height: 250px;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 50px;
}
.info{
    font-weight: bolder;
    color: lightslategray;
}


.designation{
    color: royalblue;
    font-size: 25px;
    font-weight: bolder;
}
.myname{
    font-size: 35px;
}
.rsmbtn{
    height: 40px;
    width: 100px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    font-size:15px;
    font-weight: bolder;
    background-color: royalblue;
    color: white;
    transition-duration: 1s;
}
.rsmbtn:hover{
    background-color: white;
    color: royalblue;
    border: 3px solid royalblue;
   
    transform: scale(1.1);
}